<div class="page-header">
  <h1 class="pull-left">Preguntas</h1>

  <h2 class="pull-right">
    <%= link_to "Nueva Pregunta", new_survey_question_path(@survey) %>
</h2>
</div>
<table>
  <colgroup>
    <col>
    <col width="250">
  </colgroup>
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "question", collection: @questions %>
  </tbody>
</table>
