- provide(:title, 'Registrar')
- provide(:header, "NUEVO USUARIO")
= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f|
	= render 'fields', f: f 
	%br.br
	= f.submit "Crear cuenta", class: "btn btn-primary"
	= link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn'
