=f.label answer.question.question_text,class:  'label-survey'
= f.input :answer_text, as: :check_boxes, collection: answer.question.options, label: false, checked: answer.answer_text.try(:split, ",")
%br