.row-fluid
  .span4
    = f.input :banner, as: :file, input_html: {class: "btn btn-default btn-file"}
-if @survey.banner?
  .row-fluid
    .span4.offset2
      = image_tag @survey.banner.url
    .span3
      =f.check_box :remove_banner
      .label ¿Eliminar?