<% provide(:title, "Encuesta") %>

<div class="page-header">
  <h1 class="pull-left">Por favor reponda el cuestionario</h1>
</div>
<br />

<%= form_for([@survey, @answer_group_builder]) do |f| %>
  <%- @answer_group_builder.answers.each do |answer| %>
    <%= f.fields_for("#{answer.question.id}", answer) do |answer_form| %>
      <%= render_answer_form_helper(answer, answer_form) %>
    <% end %>
  <% end %><br />	
  <%= f.submit "Guardar", class: "btn btn-primary" %>
<% end %>



- model_class = AnswerGroup
- provide(:title, "Encuesta")
.page-header
	%h2
		= @survey.name
= form_for([@survey, @answer_group_builder], :html => { :class => 'form-horizontal' }) do |f|
	- @answer_group_builder.answers.each do |answer|
		= f.fields_for("#{answer.question.id}", answer) do |answer_form|
			.well
				= render_answer_form_helper(answer, answer_form)
	.form-actions
		= f.submit "Crear", :class => 'btn-primary'
		= link_to t('.cancel', :default => t("helpers.links.cancelar")), root_path, :class => 'btn'