<% if signed_in? %>
<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Sidebar</li>
      <li><%= link_to "Perfil", current_user  %></li>
      <li><%= link_to "Sign out", signout_path, method: "delete"  %></li>
      <li><%= link_to "Link3", "/path3"  %></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
<% end %>
